<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
       
    
    
    
    
    <!--Utility Bean-->
    <bean class="com.studevs.utils.EncodedByteToString" id="encodedByteToString">
        
    </bean>
    
    
    
       
    <!--Service Beans-->
    <bean class="com.studevs.utils.providers.services.AdminProvider" id="adminProvider"> 
               
    </bean>
    
    
    <bean class="com.studevs.utils.providers.services.GalleryImagesProvider" id="galleryImagesProvider">
        
    </bean>
    
    
    <bean class="com.studevs.utils.providers.services.FeaturePageProvider" id="featurePageProvider">
        
    </bean>
    
    <bean class="com.studevs.utils.providers.services.OurTeamProvider" id="ourTeamProvider">
        
    </bean>
    
    <bean class="com.studevs.utils.providers.services.OurPackagesProvider" id="ourPackagesProvider">
        
    </bean>
    
    
    <!--Model Beans-->
    <bean class="com.studevs.mvc.models.Admin" id="admin">
        
    </bean>
    
    
    <bean class="com.studevs.mvc.models.GalleryImages" id="galleryImages">
    
    </bean>
    
    
    <bean class="com.studevs.mvc.models.FeaturePage" id="featurePage">
        <property name="id">
            <value>1</value>
        </property>
        <property name="startingGifAnimation">
            <array></array>
        </property>
        <property name="coverPhotos">
            <array>
                <array>
                </array>
            </array>
        </property>
        <property name="aboutUsPhotos">
            <array>
                <array>
                </array>
            </array>
        </property>
        <property name="ourSkillsPhoto">
            <array></array>
        </property>
        <property name="someMilestoneWorksPhoto">
            <array></array>
        </property>
        <property name="someMilestoneWorksCounter">
            <array></array>
        </property>
        <property name="ourTeamMembers" ref="ourTeam">

        </property>
        <property name="ourPackages" ref="ourPackages">

        </property>
        <property name="contactUsPhoto">
            <array></array>
        </property>
    </bean>
    
    
    <bean class="com.studevs.mvc.models.OurTeam" id="ourTeam">
        
    </bean>
    
    
    <bean class="com.studevs.mvc.models.OurPackages" id="ourPackages">
        
    </bean>

</beans>

