<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--        <property name="hibernate.connection.url">jdbc:mysql://127.5.208.2:3306/site</property>
        <property name="hibernate.connection.username">adminCRJAenr</property>
        <property name="hibernate.connection.password">Sf3yKmytfdJB</property>-->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rahul_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.pool_size">1</property>
 
 
        <!--<property name="hibernate.hbm2ddl.auto">create</property>-->
 
         
        <mapping class="com.studevs.mvc.models.FeaturePage"/>
        <mapping class="com.studevs.mvc.models.GalleryImages"/>
        <mapping class="com.studevs.mvc.models.OurPackages"/>
        <mapping class="com.studevs.mvc.models.OurTeam"/>
        <mapping class="com.studevs.mvc.models.Orders"/>
    </session-factory>
</hibernate-configuration>
